.card {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
  margin-bottom: 0.6rem;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

.popup-input {
  border: none;
  border-bottom: 1px solid gray;
}

.popup-input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

.popup-input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.buttons {
  display: flex;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.logout {
  background-color: tomato;
}

.login {
  background-color: teal;
  margin-right: 10px;
}

.register {
  background-color: slateblue;
}

.buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button,
.delete-button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.delete-button {
  background-color: red;
  border: 1px solid red;
  transition: all 0.3s;
}

.delete-button:hover {
  background-color: #fff;
  border: 1px solid red;
  color: red;
}

.logout {
  background-color: tomato;
  margin-left: 0.6rem;
}

.all-pins {
  background-color: cornflowerblue;
}

.login {
  background-color: teal;
  margin-right: 10px;
}

.register {
  background-color: slateblue;
}

/* --- Modal Container --- */
.top-modal-container {
  text-align: center;
  margin-bottom: 1rem;
}

.all-pins-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: teal;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.modal-input {
  width: 10rem;
}

.modal-input:focus {
  outline: none;
}

/* --- React Modal Overlay --- */
.ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: unset !important;
}
